.party-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.party-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  float: left;
  clear: left;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  .party-list li {
    margin-left: 0;
  }
}
.party-list li a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}

.party-list li img{
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.party-list .bio h3{
  font-family: "Sacramento", Arial, serif;
  color: #F14E95;
  font-size: 30px;
  margin-bottom: 30px;
}
.party-list .bio h3 span{
  font-size: 20px; 
}
.party-list .bio .title {
    margin-bottom: 0px;
    z-index: 99;
}
.party-list li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  .party-list li .one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  .party-list li.one-third {
    width: 100%;
  }
}