#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.caption-box {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:20px;
    padding: 0px 20px;
    margin: auto;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
}
@media screen and (max-width:480px) {
    .caption-box {
        top:20px;
        bottom:auto;
        padding:5px;
        width: 90%;
    }
}
.caption {
    font-family: "Work Sans", Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
    opacity: 0.3;
}
.slides-navigation a:hover{
    opacity: 1.0;
}
@media screen and (max-width:480px) {
    .slides-navigation a {
        opacity: 0.5;
    }
}
 .slides-navigation .next-btn {
    position:absolute;
    margin:0px;
    width:55px;
    height:55px;
    top:0px;
    right:25px;
    background-image:url(../img/next.png);
    background-position: center;
    background-size: contain;
}

.slides-navigation .prev-btn {
    position:absolute;
    width:55px;
    height:55px;
    top:0px;
    left:25px;
    background-image:url(../img/prev.png);
    background-position: center;
    background-size: contain;
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
